html,
body {
  background-color: #212121;
  display: flex;
  flex-direction: column;
}
/* This for pages */
.body1 {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
header {
  display: flex;
  justify-content: center;
}
#logo {
  height: 100px;
  width: 300px;
}

.favicon-img {
  width: 32px; /* Set width */
  height: 32px; /* Set height */
}

h1 {
  color: white;
  position: relative;
  text-align: center;
}
.ph1 {
  margin: 0;
  color: #ffcc00;
}

hr {
  background-color: #424242 !important;
  padding: 2px !important;
  border: none !important;
  height: 2px !important;
  width: 90% !important;
}

/* Container to arrange cards in a row */
.card-container {
  display: grid; /* Makes cards align in a row */
  gap: 20px; /* Space between cards */
  overflow-x: auto; /* Enables horizontal scrolling if needed */
  padding: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

/* Individual Card */
.card {
  width: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: rgb(46, 45, 45);
  text-align: center;
  overflow: hidden;
  transition: transform 0.4s ease-in-out;
  color: white;
}
/* card <a> tag */
.card #r1 {
  color: white;
  text-decoration: none;
}
/* page css */
.info {
  margin: 10px 0;
}

.advertisement {
  width: 80%;
  max-width: 900px;
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
}
.anime-container {
  display: flex;
  background: #222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  width: 80%;
  max-width: 900px;
  margin-top: 20px;
}

/* Move details below image on small screens */
@media (max-width: 768px) {
  .anime-container {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align */
  }

  .anime-details {
    margin-left: 0; /* Remove left margin */
  }
  .anime-poster img {
    width: 300px;
    border-radius: 10px;
    height: 400px;
  }
}
.anime-poster img {
  width: 300px;
  border-radius: 10px;
  height: 300px;
}
.anime-details {
  margin-left: 20px;
}

/* Card Image */
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Card Content */
.card-content {
  padding: 15px;
}

/* Hover Effect */
.card:hover {
  transform: scale(1.05);
}

.main-content {
  flex: 1; /* Pushes the footer to the bottom */
}
footer {
  background: #111;
  color: white;

  text-align: center;

  width: 100%;
}
